# Dependencies
node_modules

# Production build
dist

# Environment variables
.env

# IDE and editor files
.vscode
.idea

# Logs and cache
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Testing
coverage

# Miscellaneous
.DS_Store
Thumbs.db